*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--background);
  transition: background .5s ease-in-out;
}

:root{
  --color: #000;
  --background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  --header-ac-bg: rgba(0, 0, 0, 0.05);
}

.DARK{
  --color: #fff;
  --background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  --header-ac-bg: rgba(255, 255, 255, 0.1);
}
